* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

App {
  line-height: 1.4;
  color: #fff;
}


h1 {
  text-align: center;
}

.box {
  margin: 5% 10%;
}

.section-posts {
  margin: 50px auto;
}

.card {
  margin: 20px auto;
  padding: 15px;
  border: 1px solid #ff006e;
  border-radius: 5px;
  display: grid;
  grid-template-columns: 1fr 1fr;
}

.card-title {
  margin-bottom: 10px;
}
 
.card-button-delete {
  align-self: center;
}

.card-button-delete:hover {
  color: #ff006e;
}

.form-box {
  margin: 30px 20%;
  border: 1px solid #ff006e;
  padding: 3%;
  border-radius: 5px;
}

.new-todo {
  display: grid;
}

.form-input {
  margin-top: 15px;
}
.submit {
  border-radius: 5px;
  margin: 15px auto;
  background-color: #f72585;
  border: none;
  height: 30px;
  width: 400px;
  color: #fff;
  justify-self: center;
  align-self: center;
}

.submit:hover {
  cursor: pointer;
  background-color: #ff006e;
}

.form-input {
  padding: 5px;
  border-radius: 5px;
  border: 1px solid gray;
}